<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Add New</title>
</head>
<body>
    <form action="/callback/post" method="post">
        <input type="text" name="title" placeholder="Blogpost Title" required>
        <br>
        <br>
        <textarea name="content" placeholder="Blogpost content" required></textarea>
        <br>
        <br>
        <button type="submit">Save Blogpost</button>
        <button><a href="/">Home</a></button>
    </form>
</body>
</html>