<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Edit <%=data.title%></title>
</head>
<body>
    <form action="/callback/post/<%=data._id%>" method="post">
        <input type="text" name="title" placeholder="Blogpost title" value="<%=data.title%>" required>
        <br>
        <br>
        <textarea name="content" placeholder="Blogpost content" required><%=data.content%></textarea>
        <br>
        <br>
        <button type="submit">Update Blogpost</button>
        <button><a href="/">Home</a></button>
    </form>
</body>
</html>