<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Edit <%=data.title%></title>
</head>
<body>
    <form action="/callback/remove/<%=data._id%>" method="post">
        <label>Are you sure you want to delete this blogpost?</label>
        <br><br>
        <button type="submit">Delete Blogpost</button>
        <button><a href="/">Home</a></button>
    </form>
</body>
</html>